<p>Here you can Create User
    <br>
    <br>
    <br>
   <form method="post" action="/createuser/">
    <label>UserName:</label><br>
    <input class="createUser" id="cUsername" name="uName" type="text" ng-model="uName"><br>
    <label>Email:</label><br>
    <input class="createUser" id="cUseremail" type="email" name="uEmail" ng-model="uEmail"><br>
    <label>Password:</label><br>
    <input class="createUser" id="cUserpw" type="password" name="uPw" ng-model="uPw"><br>
    <input name="addUser" type="submit" onclick="alert('UserCreated redirecting to home...')">Knap til kage
</form>

