
<div ng-controller="View2punktum1Ctrl">
    <p>{{flight}}</p>
    <form method="post" ng-controller="View2punktum1Ctrl" >
        <label>BOOK YOUR AWESOME FLIGHT</label><br>
        <input ng-model="firstName"><br>
        <input ng-model="lastName"><br>
        <input ng-model="city"><br>
        <input ng-model="country"><br>
        <input ng-model="street"><br>
        <button ng-click="getAvailableFlights(airportID,date)" class="getAvailableFlights2" value="Search">Search</button>

    </form>

</div>