<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p>This is the partial for view 2.</p>
<br/>

  {{info.msg}}
</div>
<div>
<form method="get" ng-controller="View2Ctrl" >
    <label>Get Available Flights:</label><br>
    <input class="getAvailableFlights" id="getAvailableFlightsSearch" name="getAvailableAirportString" ng-model="airportID"><br>
    <input class="getAvailableFlights" id="getAvailableDateSearch" name="getAvailableAirportString" ng-model="date"><br>
  <button ng-click="getAvailableFlights(airportID,date)" class="getAvailableFlights2" value="Search">Search</button>


    <ul>
    <li ng-repeat="flight in flights"><a href="#/view2punktum1" onclick="setprimaryplane(flight)"> {{flight}}</a>
</li>
</ul>
</form>
</div>